  <div class="container">
    <div id="magicCarousel" class="carousel slide my-5" data-ride="carousel">
      
<!--    Carousel Indicators    -->
      <ol class="carousel-indicators">
        <li data-target="#magicCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#magicCarousel" data-slide-to="1"></li>
        <li data-target="#magicCarousel" data-slide-to="2"></li>
        <li data-target="#magicCarousel" data-slide-to="3"></li>
      </ol>
      
<!--    Carousel Slider    -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <% cocktail_1 = @cocktails.sample %>
          <img src="<%= image_path 'cocktail1.jpg' %>" class="d-block w-100">
          <div class="carousel-caption">
            <h5><%= link_to cocktail_1.name, cocktail_path(cocktail_1), class: 'card-link' %></h5>
          </div> 
        </div>
        
        <div class="carousel-item">
          <% cocktail_2 = @cocktails.sample %>
          <img src="<%= image_path 'cocktail2.jpg' %>" class="d-block w-100">
          <div class="carousel-caption">
            <h5><%= link_to cocktail_2.name, cocktail_path(cocktail_2), class: 'card-link' %></h5>
          </div> 
        </div>
        
        <div class="carousel-item">
          <% cocktail_3 = @cocktails.sample %>
          <img src="<%= image_path 'cocktail3.jpg' %>" class="d-block w-100">
          <div class="carousel-caption">
            <h5><%= link_to cocktail_3.name, cocktail_path(cocktail_3), class: 'card-link' %></h5>
          </div> 
        </div>
        
        <div class="carousel-item">
          <% cocktail_4 = @cocktails.sample %>
          <img src="<%= image_path 'cocktail4.jpg' %>" class="d-block w-100">
          <div class="carousel-caption">
            <h5><%= link_to cocktail_4.name, cocktail_path(cocktail_4), class: 'card-link' %></h5>
          </div> 
        </div>
        
<!--     Carousel Controls     -->
        <a href="#magicCarousel" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#magicCarousel" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">Next</span>
        </a>
        
      </div>
    </div>
  </div>